<div class='post'>
    <mat-list>
        <mat-list-item *ngFor="let post of posts" class='post'>
            <mat-card class='post-card'>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item class='post-line' *ngFor="let line of post.lines">
                            <p>
                                {{line}}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-list-item>
    </mat-list>
</div>