<div class='my-app'>
    <mat-toolbar color="primary" class='navbar'>
        <a class='title' color='primary' routerLinkActive='active' routerLink='/' mat-raised-button>{{title}}</a>

        <div class='navigation'>
            <a color="accent" mat-raised-button routerLink="/" routerLinkActive="active">Naslovnica</a>
            <a color="accent" mat-raised-button routerLink="/courses" routerLinkActive="active">Edukacija</a>
            <a color="accent" mat-raised-button routerLink="/about" routerLinkActive="active">O kabinetu</a>
            <a color="accent" mat-raised-button routerLink="/members" routerLinkActive="active">Članovi</a>
        </div>
    </mat-toolbar>
    <mat-card class='my-component'>
        <router-outlet></router-outlet>
    </mat-card>
</div>