.navbar {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 22px;
}

body {
    margin: 1;
    height: 2000px;
}

.my-component {
    width: 60%;
}

.my-app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}